body {
  font-family: "Poppins", sans-serif;
  color: #424242;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 320px;
  padding-right: 16px;
  padding-left: 16px;
  margin-left: auto;
  margin-right: auto;
}

/* .container {
  width: 100%;
  max-width: 1393px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
} */

/* ==========HEADER========== */

.header {
  background-color: #e43071;
  padding-top: 20px;
  padding-bottom: 16px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.header-nav {
}

.header-nav-link {
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-weight: 800;
  line-height: 1.1;
}

.header-span {
  color: #ffc1d8;
  font-size: 22px;
  font-weight: 800;
  line-height: 1.1;
}

.header-list {
  display: none;
}

.header-item {
}

.header-item-link {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1;
}

.header-menu-btn {
  margin-left: auto;
  display: block;
}

.header-btn {
  border-radius: 200px;
  background-color: #fff;
  color: #e43071;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1;
  border: none;
  display: none;
}

/* ========================== */

/* ==========HERO========== */

.hero {
  padding-top: 103px;
  padding-bottom: 166px;
  background-image: url(../images/Path-2-m-min.png),
    linear-gradient(rgba(45, 40, 36, 0.2), rgba(45, 40, 36, 0.2)),
    url(../images/Female-working-out-m-min.jpg);
  background-repeat: no-repeat;
  background-position: bottom 0px left 50%, center, top 0px left 50%;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.hero-main-title {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 23px;
}

.hero-span {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 23px;
}

.hero-btn {
  border-radius: 38.5px;
  background-color: #e43071;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 2.31;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 42px;
}

/* ======================== */

/* ==========FAQ========== */

.faq {
  padding-top: 35px;
  padding-bottom: 23px;
}

.faq-img-wrapper {
  margin-bottom: 14px;
  position: relative;
  height: 313px;
}

.faq-img-weights {
  display: none;
}

.faq-img-weights-m {
  position: absolute;
  top: 0;
  left: 0;
}

.faq-img-situps {
  display: none;
}

.faq-img-situps-m {
  position: absolute;
  top: 95px;
  left: 116px;
}

.faq-title {
  color: #e43071;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 11px;
  width: 261px;
}

.faq-text {
  color: var(--Grey-Copy, #424242);
  line-height: 2.31;
  width: 269px;
  margin-bottom: 48px;
}

.faq-btn {
  border-radius: 38.5px;
  border: 2px solid var(--Premium-Pink, #e43071);
  background-color: transparent;
  color: #e43071;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 2.31;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 80px;
}

/* ======================= */

/* ==========ACTIVE========== */

.active {
  padding-top: 75px;
  padding-bottom: 82px;
  background-image: linear-gradient(
      rgba(57, 57, 57, 0.22),
      rgba(57, 57, 57, 0.22)
    ),
    url(../images/Woman-doing-situps-m-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 320px 443px;
}

.active-title {
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 60px rgba(0, 0, 0, 0.46);
  font-size: 42px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
  width: 252px;
}

.active-text {
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  font-family: Open Sans;
  font-size: 17px;
  font-weight: 600;
  line-height: normal;
  width: 257px;
  margin-bottom: 20px;
}

.active-btn {
  border-radius: 38.5px;
  background-color: var(--Premium-Pink, #e43071);
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 2.31;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 100px;
}

/* ========================== */

/* ==========FACILITIES========== */

.facilities {
  padding-top: 74px;
  padding-bottom: 39px;
}

.facilities-img-wrapper {
  margin-bottom: 16px;
  position: relative;
  height: 264px;
}

.facilities-title {
  color: #e43071;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  width: 259px;
  margin-bottom: 13px;
}

.facilities-text {
  color: #424242;
  line-height: 2.31;
  width: 269px;
  margin-bottom: 40px;
}

.facilities-btn {
  border-radius: 38.5px;
  border: 2px solid #e43071;
  background-color: #fff;
  color: #e43071;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 2.31;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 14px 95px;
}

.facilities-img-gym {
  display: none;
}

.facilities-img-gym-m {
  position: absolute;
  top: 0;
  left: 0;
}

.facilities-img-weights {
  display: none;
}

.facilities-img-weights-m {
  position: absolute;
  top: 70px;
  left: 84px;
}

/* ============================== */

/* ==========STORIES========== */

.stories {
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%),
    #f4e3e9;
  padding-top: 48px;
  padding-bottom: 38px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.stories > .container {
  padding-right: 0;
}

.stories-title {
  color: var(--Grey-Two, #424242);
  font-size: 26px;
  font-weight: 600;
  line-height: 1.19;
  width: 225px;
  margin-bottom: 8px;
}

.stories-text {
  color: var(--Grey-Two, #424242);
  font-size: 10px;
  line-height: normal;
  margin-bottom: 25px;
}

.stories-list {
  position: relative;
  overflow: hidden;
  padding: 2px;
}

.stories-item {
  border-radius: 6.966px;
  background-color: #fff;
  box-shadow: 0.69663px 2.78652px 5.57303px 0px rgba(0, 0, 0, 0.18);
  padding: 24px 22px 26px 18px;
  width: 243px;
  position: relative;
}

.stories-item::before {
  content: "“";
  /* background-image: url(../images/Real-Stories-Copy-min.png);
  background-repeat: no-repeat; */
  position: absolute;
  top: 65px;
  left: 19px;
  width: 20px;
  height: 47px;
  color: rgba(228, 48, 113, 0.3);
  font-family: Times New Roman;
  font-size: 40.404px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.robert {
  display: none;
}

.mary {
  position: absolute;
  top: 0;
  left: 270px;
}

.stories-item-title {
  color: #e43071;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.19;
  margin-bottom: 20px;
}

.stories-item-text {
  color: #424242;
  font-size: 12px;
  line-height: 1.78;
  margin-bottom: 15px;
  width: 202px;
  padding-left: 26px;
}

.stories-item-img-wrapper {
  display: flex;
  gap: 14px;
  padding-left: 26px;
}

.stories-item-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stories-item-img {
}

.stories-item-subtitle {
  color: #424242;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.89;
}

.stories-item-subtext {
  color: #969bab;
  font-size: 10px;
  line-height: 2.43;
}

/* =========================== */

/* ==========APP========== */

.app {
  background-color: #e43071;
  padding-top: 50px;
  padding-bottom: 0;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.app > .container {
  padding-right: 0;
}

.app-title {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
  width: 269px;
}

.app-text {
  color: #ffffff;
  line-height: normal;
  margin-bottom: 32px;
  width: 269px;
}

.app-download-text {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
}

.app-list {
  display: flex;
  gap: 12px;
  margin-bottom: 39px;
}

.app-item {
}
.app-item-link {
}

.app-img-wrapper {
  position: relative;
  height: 455px;
  overflow: hidden;
}

.app-item-img {
}

.app-img-first {
  display: none;
}

.app-img-first-m {
  position: absolute;
  top: 0;
  left: 0;
}

.app-img-second {
  display: none;
}

.app-img-second-m {
  position: absolute;
  top: 122px;
  right: 0;
}

/* ======================= */

/* ==========SOCIAL========== */

.social {
  background-color: var(--Background-Grey, #ededed);
  padding-top: 44px;
  padding-bottom: 66px;
  margin-top: -60px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.social-title {
  color: var(--Premium-Pink, #e43071);
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 15px;
}

.social-list {
  display: flex;
  justify-content: space-between;
}
.social-item {
  width: 75px;
  height: 75px;
}

.social-item-link {
  background-color: #ffffff;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ========================== */

/* ==========FOOTER========== */

.footer {
  background-color: var(--default-black, #0b0d17);
  padding-top: 40px;
  padding-bottom: 25px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.footer-logo-link {
  color: #fff;
  text-align: left;
  font-size: 25.668px;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 24px;
  display: block;
}

.footer-span {
  color: var(--Premium-Pink, #e43071);
  font-size: 25.668px;
  font-weight: 800;
  line-height: 1.1;
}

.footer-text {
  color: var(--text-gray-300, #d9dbe1);
  font-feature-settings: "liga" off;
  font-family: Manrope;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 24px;
  width: 255px;
}

.footer-soc-list {
  display: flex;
  gap: 16px;
  margin-bottom: 42px;
}

.footer-soc-item {
}

.footer-nav {
  margin-bottom: 308px;
}

.footer-nav-list {
}
.footer-nav-item {
}

.footer-item-text {
  color: var(--default-white, #fff);
  font-feature-settings: "liga" off;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 24px;
}

.footer-nav-sublist {
}
.footer-nav-subitem:not(:last-child) {
  margin-bottom: 12px;
}

.footer-nav-sublink {
  color: var(--text-gray-300, #d9dbe1);
  font-feature-settings: "liga" off;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}

.guides {
  display: none;
}

.footer-address-text {
  color: var(--default-white, #fff);
  font-feature-settings: "liga" off;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 24px;
}

.footer-address {
  margin-bottom: 35px;
}

.footer-address-list {
}

.footer-address-item {
  padding-left: 30px;
  font-style: normal;
}

.footer-address-item:not(:last-child) {
  margin-bottom: 24px;
}

.footer-address-link {
  color: var(--text-gray-300, #d9dbe1);
  font-feature-settings: "liga" off;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  font-style: normal;
}

.footer-bottom-text {
  color: var(--text-gray-300, #d9dbe1);
  font-feature-settings: "liga" off;
  font-family: Manrope;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
}

.footer-bottom-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin-bottom: 16px;
}

.footer-bottom-item {
}

.footer-bottom-link {
  color: var(--text-gray-300, #d9dbe1);
  font-feature-settings: "liga" off;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}

/* ========================== */
