body {
  font-family: "Poppins", sans-serif;
  color: #424242;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 320px;
  padding-right: 16px;
  padding-left: 16px;
  margin-left: auto;
  margin-right: auto;
}

/* ==========HEADER========== */

.header {
  background-color: #e43071;
  padding-top: 20px;
  padding-bottom: 16px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-link {
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-weight: 800;
  line-height: 1.1;
}

.header-span {
  color: #ffc1d8;
  font-size: 22px;
  font-weight: 800;
  line-height: 1.1;
}

.header-list {
  display: none;
}

.header-item {
}

.header-item-link {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1;
}

.header-search-btn {
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-search-icon {
  stroke: #ffffff;
  fill: transparent;
}

.header-menu-btn {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.header-menu-icon {
  fill: #ffffff;
}

.header-btn {
  border-radius: 200px;
  background-color: #fff;
  color: #e43071;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1;
  border: none;
  display: none;
}

/* ========================== */

/* ==========HERO========== */

.hero {
  padding-top: 103px;
  padding-bottom: 28px;
  background-image: url(../images/Path-2-m-min.png),
    linear-gradient(rgba(45, 40, 36, 0.2), rgba(45, 40, 36, 0.2)),
    url(../images/Female-working-out-m-min.jpg);
  background-repeat: no-repeat;
  background-position: bottom 0px center, center, top 0px center;
}

.hero-main-title {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 23px;
}

.hero-span {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 23px;
}

.hero-btn {
  border-radius: 38.5px;
  background-color: #e43071;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 2.31;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 42px;
  margin-bottom: 121px;
  transition: background-color 250ms ease, outline 250ms ease;
}

.hero-btn:hover,
.hero-btn:active {
  background-color: #be285e;
}

.hero-btn:focus {
  outline: 8px solid #ffdae7;
}

/* ======================== */

/* ==========FAQ========== */

.faq {
  padding-top: 35px;
  padding-bottom: 23px;
}

.faq-img-wrapper {
  margin-bottom: 14px;
  position: relative;
  height: 313px;
}

.faq-img-weights {
  display: none;
}

.faq-img-weights-m {
  position: absolute;
  top: 0;
  left: 0;
}

.faq-img-situps {
  display: none;
}

.faq-img-situps-m {
  position: absolute;
  top: 95px;
  left: 116px;
}

.faq-title {
  color: #e43071;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 11px;
  width: 261px;
}

.faq-text {
  color: var(--Grey-Copy, #424242);
  line-height: 2.31;
  width: 269px;
  margin-bottom: 48px;
}

.faq-btn {
  border-radius: 38.5px;
  border: 2px solid var(--Premium-Pink, #e43071);
  background-color: transparent;
  color: #e43071;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 2.31;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 80px;
  transition: background-color 250ms ease, outline 250ms ease;
}

.faq-btn:hover,
.faq-btn:active {
  color: #be285e;
  border-color: #be285e;
}

.faq-btn:focus {
  outline: 8px solid #ffdae7;
}

/* ======================= */

/* ==========ACTIVE========== */

.active {
  padding-top: 75px;
  padding-bottom: 25px;
  background-image: linear-gradient(
      rgba(57, 57, 57, 0.22),
      rgba(57, 57, 57, 0.22)
    ),
    url(../images/Woman-doing-situps-m-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 320px 100%;
}

.active-title {
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 60px rgba(0, 0, 0, 0.46);
  font-size: 42px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 10px;
  width: 252px;
}

.active-text {
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  font-family: Open Sans;
  font-size: 17px;
  font-weight: 600;
  line-height: normal;
  width: 257px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.active-btn {
  border-radius: 38.5px;
  background-color: var(--Premium-Pink, #e43071);
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 2.31;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 100px;
  margin-bottom: 40px;
  transition: background-color 250ms ease, outline 250ms ease;
}

.active-btn:hover,
.active-btn:active {
  background-color: #be285e;
}

.active-btn:focus {
  outline: 8px solid #ffdae7;
}

.tab-bar {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.tab {
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 50%;
}

.tab-active {
  width: 17px;
  height: 17px;
  background-color: #e43071;
  border-radius: 50%;
}

/* ========================== */

/* ==========FACILITIES========== */

.facilities {
  padding-top: 74px;
  padding-bottom: 39px;
}

.facilities-img-wrapper {
  margin-bottom: 16px;
  position: relative;
  height: 264px;
}

.facilities-title {
  color: #e43071;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  width: 259px;
  margin-bottom: 13px;
}

.facilities-text {
  color: #424242;
  line-height: 2.31;
  width: 269px;
  margin-bottom: 40px;
}

.facilities-btn {
  border-radius: 38.5px;
  border: 2px solid #e43071;
  background-color: #fff;
  color: #e43071;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 2.31;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 14px 95px;
  transition: background-color 250ms ease, outline 250ms ease;
}

.facilities-btn:hover,
.facilities-btn:active {
  color: #be285e;
  border-color: #be285e;
}

.facilities-btn:focus {
  outline: 8px solid #ffdae7;
}

.facilities-img-gym {
  display: none;
}

.facilities-img-gym-m {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.facilities-img-weights {
  display: none;
}

.facilities-img-weights-m {
  position: absolute;
  top: 70px;
  left: 84px;
}

/* ============================== */

/* ==========STORIES========== */

.stories {
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%),
    #f4e3e9;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.stories-background-container {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 48px;
  padding-bottom: 38px;
  background: url(../images/stories-hidden-item.png);
  background-repeat: no-repeat;
  background-position: bottom 30px right;
  background-size: 23px 335px;
}

.stories > .container {
  padding-right: 0;
  padding-left: 28px;
}

.stories-title {
  color: var(--Grey-Two, #424242);
  font-size: 26px;
  font-weight: 600;
  line-height: 1.19;
  width: 225px;
  margin-bottom: 8px;
}

.stories-text {
  color: var(--Grey-Two, #424242);
  font-size: 10px;
  line-height: normal;
  margin-bottom: 25px;
}

.stories-list {
  position: relative;
}

.stories-item {
  border-radius: 6.966px;
  background-color: #fff;
  box-shadow: 0.69663px 2.78652px 5.57303px 0px rgba(0, 0, 0, 0.18);
  padding: 24px 22px 26px 18px;
  width: 243px;
  position: relative;
}

.stories-item::before {
  content: "“";
  /* background-image: url(../images/Real-Stories-Copy-min.png);
  background-repeat: no-repeat; */
  position: absolute;
  top: 65px;
  left: 19px;
  width: 20px;
  height: 47px;
  color: rgba(228, 48, 113, 0.3);
  font-family: Times New Roman;
  font-size: 40.404px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.robert {
  display: none;
}

.mary {
  display: none;
}

.stories-item-title {
  color: #e43071;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.19;
  margin-bottom: 20px;
}

.stories-item-text {
  color: #424242;
  font-size: 12px;
  line-height: 1.78;
  margin-bottom: 15px;
  width: 202px;
  padding-left: 26px;
}

.stories-item-img-wrapper {
  display: flex;
  gap: 14px;
  padding-left: 26px;
}

.stories-item-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stories-item-img {
}

.stories-item-subtitle {
  color: #424242;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.89;
}

.stories-item-subtext {
  color: #969bab;
  font-size: 10px;
  line-height: 2.43;
}

/* =========================== */

/* ==========APP========== */

.app {
  background-color: #e43071;
  padding-top: 50px;
  padding-bottom: 0;
}

.app > .app-background-container {
  padding-right: 0;
}

.app-background-container > .container {
  padding-right: 0;
}

.app-title {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 10px;
  width: 269px;
}

.app-text {
  color: #ffffff;
  line-height: normal;
  margin-bottom: 32px;
  width: 269px;
}

.app-download-text {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
}

.app-list {
  display: flex;
  gap: 12px;
  margin-bottom: 39px;
  justify-content: space-between;
  padding-right: 16px;
}

.app-item {
}
.app-item-link {
}

.app-img-wrapper {
  position: relative;
  height: 455px;
  background-image: url(../images/iPhone-X-m-min.png),
    url(../images/Screen-m-min.png), url(../images/iPhone-X-bottom-m-min.png),
    url(../images/Screen-bottom-m-min.png);
  background-repeat: no-repeat;
  background-position: top left, top 10px left 10px, bottom right,
    bottom 10px right;
}

.app-item-img {
}

/* ======================= */

/* ==========SOCIAL========== */

.social {
  background-color: var(--Background-Grey, #ededed);
  padding-top: 44px;
  padding-bottom: 66px;
  margin-top: -24px;
}

.social-title {
  color: var(--Premium-Pink, #e43071);
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 15px;
}

.social-list {
  display: flex;
  justify-content: space-between;
}
.social-item {
  width: 75px;
  height: 75px;
}

.social-item-link {
  background-color: #ffffff;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  fill: #e43071;
}

/* ========================== */

/* ==========FOOTER========== */

.footer {
  background-color: var(--default-black, #0b0d17);
  padding-top: 40px;
  padding-bottom: 25px;
}

.footer-logo-link {
  color: #fff;
  text-align: left;
  font-size: 25.668px;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 24px;
  display: block;
}

.footer-span {
  color: var(--Premium-Pink, #e43071);
  font-size: 25.668px;
  font-weight: 800;
  line-height: 1.1;
}

.footer-text {
  color: var(--text-gray-300, #d9dbe1);
  font-feature-settings: "liga" off;
  font-family: Manrope;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 24px;
  width: 265px;
}

.footer-soc-list {
  display: flex;
  gap: 16px;
  margin-bottom: 42px;
}

.footer-soc-item {
}

.footer-soc-link {
  padding: 6px;
  background-color: #23252e;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-soc-icon {
  fill: #ffffff;
}

.footer-nav {
  margin-bottom: 308px;
}

.footer-nav-list {
}
.footer-nav-item {
}

.footer-item-text {
  color: var(--default-white, #fff);
  font-feature-settings: "liga" off;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 24px;
}

.footer-nav-sublist {
}

.footer-nav-subitem:not(:last-child) {
  margin-bottom: 12px;
}

.footer-nav-sublink {
  color: var(--text-gray-300, #d9dbe1);
  font-feature-settings: "liga" off;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}

.guides {
  display: none;
}

.footer-address-text {
  color: var(--default-white, #fff);
  font-feature-settings: "liga" off;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 24px;
}

.footer-address {
  margin-bottom: 35px;
}

.footer-address-list {
}

.footer-address-item {
}

.footer-address-item:not(:last-child) {
  margin-bottom: 24px;
}

.footer-address-link {
  color: var(--text-gray-300, #d9dbe1);
  font-feature-settings: "liga" off;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  font-style: normal;
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-address-icon {
  fill: #e43071;
}

.footer-bottom-text {
  color: var(--text-gray-300, #d9dbe1);
  font-feature-settings: "liga" off;
  font-family: Manrope;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
}

.footer-bottom-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin-bottom: 16px;
}

.footer-bottom-item {
  position: relative;
}

.footer-bottom-item:nth-child(odd)::after {
  content: "|";
  color: var(--text-gray-300, #d9dbe1);
  text-align: center;
  font-feature-settings: "liga" off;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  position: absolute;
  right: -8px;
  top: center;
}

.footer-bottom-link {
  color: var(--text-gray-300, #d9dbe1);
  font-feature-settings: "liga" off;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}

/* ========================== */

/* ==========DESKTOP========== */

@media (min-width: 1393px) {
  .container {
    width: 100%;
    max-width: 1393px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .header {
    padding-top: 25px;
    padding-bottom: 26px;
  }

  .header > .container {
    display: flex;
  }

  .header-nav {
  }

  .header-nav-link {
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    margin-right: 172px;
  }

  .header-span {
    font-size: 40px;
    font-weight: 800;
  }

  .header-list {
    display: flex;
    gap: 76px;
  }

  .header-search-btn {
    margin-left: 6px;
  }

  .header-menu-btn {
    display: none;
  }

  .header-btn {
    display: block;
    margin-left: auto;
    width: 166px;
    height: 50px;
  }

  .hero {
    padding-top: 241px;
    padding-bottom: 43px;
    background-image: url(../images/Path-2.svg),
      linear-gradient(rgba(45, 40, 36, 0.2), rgba(45, 40, 36, 0.2)),
      url(../images/Female-working-out-min.jpg);
    background-position: bottom -1px center, center, top 0px center;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    outline: none;
    box-shadow: none;
  }

  .hero-main-title {
    font-size: 70px;
    margin-bottom: 16px;
    width: 678px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-span {
    color: var(--Sub-Pink, #ffc1d8);
    font-size: 70px;
  }

  .hero-btn {
    padding: 15px 56px;
    margin-bottom: 156px;
  }

  .faq {
    padding-top: 95px;
    padding-bottom: 122px;
  }

  .faq > .container {
    display: flex;
    padding-left: 156px;
  }

  .faq-img-wrapper {
    margin-bottom: 0;
    position: relative;
    height: 503px;
    width: 440px;
  }

  .faq-img-weights {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  .faq-img-weights-m {
    display: none;
  }

  .faq-img-situps {
    display: block;
    position: absolute;
    top: 144px;
    left: 199px;
  }

  .faq-img-situps-m {
    display: none;
  }

  .faq-text-wrapper {
    margin-left: 179px;
    padding-top: 103px;
  }

  .faq-title {
    margin-bottom: 6px;
    width: 414px;
  }

  .faq-text {
    width: 540px;
    margin-bottom: 30px;
  }

  .faq-btn {
    padding: 15px 65px;
    margin-right: auto;
    margin-left: 0;
  }

  .active {
    padding-top: 231px;
    padding-bottom: 26px;
    width: 1440px;
    background-image: linear-gradient(
        rgba(57, 57, 57, 0.22),
        rgba(57, 57, 57, 0.22)
      ),
      url(../images/Woman-doing-situps-min.jpg);
    background-position: top center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
  }

  .active-title {
    font-size: 60px;
    margin-bottom: 20px;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
  }

  .active-text {
    width: 433px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .active-btn {
    padding: 15px 77px;
    margin-bottom: 204px;
  }

  .facilities {
    padding-top: 224px;
    padding-bottom: 129px;
  }

  .facilities > .container {
    display: flex;
    flex-direction: row-reverse;
    padding-left: 134px;
    padding-right: 53px;
    justify-content: space-between;
  }

  .facilities-img-wrapper {
    margin-bottom: 0;
    position: relative;
    height: 435px;
    width: 572px;
  }

  .facilities-img-gym {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .facilities-img-gym-m {
    display: none;
  }

  .facilities-img-weights {
    display: block;
    position: absolute;
    top: 154px;
    left: 150px;
  }

  .facilities-img-weights-m {
    display: none;
  }

  .facilities-text-wrapper {
    padding-top: 97px;
  }

  .facilities-title {
    width: 383px;
    margin-bottom: 10px;
  }

  .facilities-text {
    width: 489px;
    margin-bottom: 20px;
  }

  .facilities-btn {
    margin-left: 0;
    margin-right: auto;
    padding: 15px 72px;
  }

  .stories {
    margin-bottom: -33px;
  }

  .stories-background-container {
    width: 1393px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 126px;
    padding-bottom: 0;
    background-image: none;
    position: relative;
  }

  .stories-background-container::before {
    content: "“";
    color: #000;
    font-family: Times New Roman;
    font-size: 358px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 166px;
    height: 243px;
    mix-blend-mode: overlay;
    position: absolute;
    top: -21px;
    left: 99px;
  }

  .stories-background-container > .container {
    padding-right: 0;
    padding-left: 233px;
  }

  .stories-title {
    font-size: 48px;
    width: 414px;
    margin-bottom: 12px;
  }

  .stories-text {
    font-size: 18px;
    width: 313px;
    margin-bottom: 0;
  }

  .stories-list {
    position: relative;
    width: 831px;
    height: 654px;
    transform: translate(97px, -114px);
  }

  .stories-item {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.18);
    padding: 35px 32px 36px 27px;
    width: 0;
    position: relative;
  }

  .stories-item::before {
    top: 94px;
    left: 27px;
    width: 29px;
    height: 67px;
    font-size: 58px;
  }

  .stories-item-title {
    font-size: 38px;
    margin-bottom: 20px;
  }

  .stories-item-text {
    font-size: 18px;
    padding-left: 37px;
  }

  .stories-item-img-wrapper {
    gap: 17px;
    padding-left: 39px;
  }

  .james {
    width: 349px;
    position: absolute;
    top: 141px;
    left: 0;
  }

  .j-text {
    width: 290px;
  }

  .mary {
    display: block;
    width: 449px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .m-text {
    width: 390px;
  }

  .robert {
    display: block;
    width: 351px;
    position: absolute;
    bottom: 0;
    right: 98px;
  }

  .r-text {
    width: 293px;
  }

  .app {
    padding-top: 112px;
    padding-bottom: 76px;
  }

  .app-background-container > .container {
    padding-right: 15px;
    padding-left: 218px;
  }

  .app-background-container {
    position: relative;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  .app-text-container {
    height: 303px;
    position: relative;
  }

  .app-title {
    margin-bottom: 4px;
    width: 412px;
  }

  .app-text {
    margin-bottom: 20px;
    width: 489px;
  }

  .app-download-text {
    margin-bottom: 9px;
  }

  .app-list {
    margin-bottom: 0;
    gap: 12px;
    justify-content: flex-start;
    padding-right: 0;
  }

  .app-img-wrapper {
    position: absolute;
    width: 496px;
    height: 518px;
    background-image: url(../images/iPhone-X-min.png),
      url(../images/Screen-min.png), url(../images/iPhone-X-bottom-min.png),
      url(../images/Screen-bottom-min.png);
    background-repeat: no-repeat;
    background-position: top left, top 13px left 15px, bottom right,
      bottom right 15px;
    top: -139px;
    right: 147px;
  }

  .social {
    padding-top: 64px;
    padding-bottom: 71px;
    margin-top: 0;
  }

  .social-title {
    margin-bottom: 18px;
  }

  .social-list {
    display: flex;
    justify-content: center;
    gap: 90px;
  }
  .social-item {
    width: 110px;
    height: 110px;
  }

  .facebook {
    width: 15px;
    height: 30px;
  }

  .youtube {
    width: 25px;
    height: 30px;
  }

  .instagram {
    width: 30px;
    height: 30px;
  }

  .footer {
    padding-top: 96px;
    padding-bottom: 24px;
  }

  .footer > .container {
    padding-left: 144px;
    padding-right: 139px;
  }

  .footer-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 103px;
  }

  .footer-logo-wrapper {
  }

  .footer-logo-link {
    margin-bottom: 24px;
    display: block;
  }

  .footer-text {
    margin-bottom: 24px;
  }

  .footer-soc-list {
    margin-bottom: 0;
  }

  .footer-nav {
    margin-bottom: 0;
  }

  .footer-nav-list {
    display: flex;
    justify-content: space-between;
  }

  .footer-nav-item {
    gap: 36px;
    width: 255px;
  }

  .guides {
    display: block;
  }

  .footer-address {
    margin-bottom: 0;
  }

  .footer-address-wrapper {
  }

  .footer-bottom {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .footer-bottom-item:nth-child(even):not(:last-child):after {
    content: "|";
    color: var(--text-gray-300, #d9dbe1);
    text-align: center;
    font-feature-settings: "liga" off;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    position: absolute;
    right: -8px;
    top: center;
  }
}

/* =========================== */
